requests
pymongo
tqdm
streamlit
pandas
plotly
pycountry
wordcloud
matplotlib
sentencepiece
clean-text
ftfy
unidecode
sentence-transformers
nltk
spacy
beautifulsoup4
langchain
torch
scikit-learn
transformers
bitsandbytes
python-dotenv
seaborn
google-generativeai
google-generativeai[auth]
google-cloud-core